<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlSaturdayWebView2Demo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlSaturdayWebView2Demo.My.MySettings>
            <setting name="DatabaseExample" serializeAs="String">
                <value />
            </setting>
        </SqlSaturdayWebView2Demo.My.MySettings>
    </userSettings>
</configuration>
